services:
  # Brokers
  broker1:
    build: ./broker
    container_name: aklight_broker1
    command: ["./broker", "1"]
    ports:
      - "7000:7000"
    volumes:
      - broker1_data:/app/data
    networks:
      - aklight_network
    restart: unless-stopped

  broker2:
    build: ./broker
    container_name: aklight_broker2
    command: ["./broker", "2"]
    ports:
      - "7001:7001"
    volumes:
      - broker2_data:/app/data
    networks:
      - aklight_network
    restart: unless-stopped

  # Producers
  producer1:
    build: ./producer
    container_name: aklight_producer1
    command: ["./producer", "producer1", "metrics/docker", "broker1", "7000"]
    depends_on:
      - broker1
    networks:
      - aklight_network
    restart: unless-stopped

  producer2:
    build: ./producer
    container_name: aklight_producer2
    command: ["./producer", "producer2", "metrics/docker", "broker2", "7001"]
    depends_on:
      - broker2
    networks:
      - aklight_network
    restart: unless-stopped

  # Consumers conectados a broker1 (reciben de producer1)
  consumer1:
    build: ./consumer
    container_name: aklight_consumer1
    command: ["./consumer", "consumer1", "1", "broker1", "7000", "metrics/docker/producer1/cpu"]
    depends_on:
      - broker1
      - producer1
    networks:
      - aklight_network
    restart: unless-stopped

  consumer2:
    build: ./consumer
    container_name: aklight_consumer2
    command: ["./consumer", "consumer2", "1", "broker1", "7000", "metrics/docker/producer1/#"]
    depends_on:
      - broker1
      - producer1
    networks:
      - aklight_network
    restart: unless-stopped

  # Consumers conectados a broker2 (reciben de producer2)
  consumer3:
    build: ./consumer
    container_name: aklight_consumer3
    command: ["./consumer", "consumer3", "0", "broker2", "7001", "metrics/docker/producer2/cpu"]
    depends_on:
      - broker2
      - producer2
    networks:
      - aklight_network
    restart: unless-stopped

  consumer4:
    build: ./consumer
    container_name: aklight_consumer4
    command: ["./consumer", "consumer4", "1", "broker2", "7001", "metrics/docker/producer2/#"]
    depends_on:
      - broker2
      - producer2
    networks:
      - aklight_network
    restart: unless-stopped

volumes:
  broker1_data:
  broker2_data:

networks:
  aklight_network:
    driver: bridge